<?xml version="1.0" encoding="utf-8"?>
<CrmConnections xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Connections>
    <ConnectionDetail>
      <AuthType>OnlineFederation</AuthType>
      <ConnectionId>6a90faf5-55fd-44c1-aecf-d265b4c36894</ConnectionId>
      <ConnectionName>nabacar</ConnectionName>
      <IsCustomAuth>true</IsCustomAuth>
      <UseIfd>false</UseIfd>
      <UseOnline>true</UseOnline>
      <UseOsdp>true</UseOsdp>
      <UserDomain />
      <UserName>Jerry@nabacar.com</UserName>
      <UserPassword>lcjd1ZFVxjscjjNfMcOUoA==</UserPassword>
      <SavePassword>true</SavePassword>
      <UseSsl>true</UseSsl>
      <ServerName>crm.dynamics.com</ServerName>
      <ServerPort />
      <Organization>nabacar</Organization>
      <OrganizationUrlName>nabacar</OrganizationUrlName>
      <OrganizationFriendlyName>Nabacar.com</OrganizationFriendlyName>
      <OrganizationServiceUrl>https://nabacar.api.crm.dynamics.com/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
      <OrganizationVersion>6.1.0.1043</OrganizationVersion>
    </ConnectionDetail>
  </Connections>
  <UseCustomProxy>false</UseCustomProxy>
</CrmConnections>