<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AddDebuggerStepThrough" value="True" />
        <add key="CreateOneFilePerEntity" value="False" />
        <add key="EntityAttributeSpecifiedNames" />
        <add key="EntityCommandLineText" value="&quot;D:\Programas\CRM\DLaB.EarlyBoundGenerator.Full\CrmSvcUtil Ref\crmsvcutil.exe&quot; /url:&quot;https://nabacar.api.crm.dynamics.com/XRMServices/2011/Organization.svc&quot; /namespace:&quot;CrmEarlyBound&quot; /out:&quot;D:\Programas\CRM\DLaB.EarlyBoundGenerator.Full\CrmSvcUtil Ref\Entities.cs&quot; /servicecontextname:&quot;CrmServiceContext&quot; /codecustomization:&quot;DLaB.CrmSvcUtilExtensions.Entity.CustomizeCodeDomService,DLaB.CrmSvcUtilExtensions&quot; /codegenerationservice:&quot;DLaB.CrmSvcUtilExtensions.Entity.CustomCodeGenerationService,DLaB.CrmSvcUtilExtensions&quot; /codewriterfilter:&quot;DLaB.CrmSvcUtilExtensions.Entity.CodeWriterFilterService,DLaB.CrmSvcUtilExtensions&quot; /namingservice:&quot;DLaB.CrmSvcUtilExtensions.Entity.OverridePropertyNames,DLaB.CrmSvcUtilExtensions&quot; /username:&quot;Jerry@nabacar.com&quot; /password:&quot;***************&quot; " />
        <add key="EntitiesToSkip" />
        <add key="GenerateEnumProperties" value="True" />
        <add key="OptionSetsToSkip" />
        <add key="OptionSetCommandLineText" />
        <add key="PropertyEnumMappings" value="OpportunityProduct.OpportunityStateCode,opportunity_statuscode|OpportunityProduct.PricingErrorCode,qooi_pricingerrorcode|ResourceGroup.GroupTypeCode,constraintbasedgroup_grouptypecode|" />
        <add key="UnmappedProperties" value="DuplicateRule,BaseEntityTypeCode,MatchingEntityTypeCode|InvoiceDetail,InvoiceStateCode|LeadAddress,AddressTypeCode,ShippingMethodCode|Organization,DateFormatCode,TimeFormatCode,WeekStartDayCode|QuoteDetail,QuoteStateCode|SalesOrderDetail,SalesOrderStateCode|" />
        <add key="UseTfsToCheckoutFiles" value="False" />
        <add key="UseXrmClient" value="False" />
    </appSettings>
</configuration>